<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Theses" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Theses" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body class="door">

	<p id="notice"><%= notice %></p>

	<h1>Nail It Up</h1>
  <% @posts.each do |post| %>
		<article>
	    <div class="content"><%= post.body %></div>
	    <div class="author">— <%= link_to post.name, post.url %></div>
		</article>
	<% end %>

  <article>
    <%= render 'form', post: @post %>
  </article>

</body>
</html>