<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Theses" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Theses" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>

  <meta property="og:url"           content="<%= post_url(@post) %>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Nail Your Theses" />
  <meta property="og:description"   content="<%= @post.body %>" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

</head>
<body class="door">

  <p id="notice"><%= notice %></p>

  <h1><a href="/">Nail Your Theses</a></h1>

    <article>
      <p class="content"><%= @post.body %></p>
      <p class="author">— <%= link_to @post.name, @post.url %></p>

      <div class="fb-share-button" data-href="<%= post_url(@post) %>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= post_url(@post) %>">Share</a></div>      

    </article>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1946807255535850';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>